<h1> Big Catches</h1>

<% @catches.each do |catch|%>
 <h4>Type of fish : <a href="/catches/<%= catch.id%>"> <%= catch.name%> </a></h4>
<img src="<%= catch.image%>" alt="picture of a fish">
<br><br>
<h6>Length :  <%= catch.length%> Inches</h6>
<br><br>
<h6>Weight :  <%= catch.weight%> Pounds</h6>
<a href='/catches/<%=catch.id%>/edit' >Edit</a>

<% end %>