show page for big catches
#add the rest of the create attributes
<p><%=@catch.name %></p>
<p><%=@catch.image %></p>
<p><%=@catch.length %></p>
<p><%=@catch.weight %></p>


#edit
<a href="/catches/<%=@catch.id%>/edit ">Edit Catch</a>

<a href="/catches/<%=@catch.id%>/edit ">Delete</a>